{%extends 'base\base.html'%}
{% block start%}

<div class="container" style="margin-top:2rem">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Items in Cart</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Product</th>
                        <th>Price</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {%for item in items%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.product.product_name}}</td>
                        <td>Rs {{item.product.price}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <hr>
            <p class="text-right"><b>Total : Rs {{cart.get_cart_total}}</b></p>
            </div>   
    </div>
<hr>
    <div class="row">
    <div class="col-md-6">
        <h3>Checkout Form</h3>
        
        <hr>
            <form method="POST">
                  {% csrf_token %}
                  {% include "base/alert.html" %}   <!-- for messages-->
              <div class="form-group">
                    <label> <h5>Ordered by</h5></label>
                     <input name="username" value = "{{request.user.first_name | title}}  {{request.user.last_name | title}}"class="form-control" placeholder="Ordered by" type="text" required>
                    </div> <!-- form-group// -->

                    <div class="form-group">
                        <label> <h5>Email </h5></label>
                        <input name="email" value = "{{request.user.email}}" class="form-control" placeholder="Mobile Number" type="text" required>
                      </div> <!-- form-group// -->

                  <div class="form-group">
                    <label> <h5>Mobile Number</h5></label>
                    <input name="mobile" value = "{{request.user.profile.mobile}}" class="form-control" placeholder="Mobile Number" type="text" required>
                  </div> <!-- form-group// -->

                  <div class="form-group">
                    <label> <h5>Shipping Address</h5></label>
                    <input name="address" value = "{{request.user.profile.address}}" class="form-control" placeholder="Shipping Address" type="text" required>
                  </div> <!-- form-group// -->

                  <div class="form-group">
                  <select name="payment" class="dropdown">
                    {%for i, j in payments %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <option class="dropdown-item" value = "{{i}}" {%if i == order.order_status%}selected{%endif%}>{{j}}</option>
                    </div>
    
                    {%endfor%}
                   </select>
                </div> <!-- form-group// -->

                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Place Order  </button>
                  </div> <!-- form-group// -->    
              </form> 
             


        </div>
    </div>
</div>
{% endblock%}