{%extends 'base/base.html'%} {%load static%} {%block start%}

<section class="bg-light py-5 my-2">
  <div class="container">
    <div class="row gutter-sm">
      <div
        class="col-xl-4 col-lg-5 mb-5 d-flex justify-content-center justify-content-lg "
      >
        <div class="border p-5" style="width: 80%">
          <div class="card-body">
            <h6 class="card-title mb-3">Summary</h6>

            <hr />

            <div class="d-flex justify-content-between mb-4">
              <p class="mb-0">Total price:</p>
              <p class="mb-0 fw-bold">Rs {{item.price}}</p>
            </div>

            <hr />

            <h6 class="card-subtitle text-dark my-4">Item buying</h6>
            <hr />
            <div class="d-flex align-items-center mb-4">
              <div class="me-3 position-relative">
               
                <img
                  src="{{item.product_image.first.image.url}}"
                  class="img-fluid rounded border"
                  style="height: 96px; width: 96px"
                  alt="{{item.product_name}} image"
                />
              </div>
              <div class="">
                <a href="#" class="card-link text-dark">
                  {{item.product_name}} <br />
                  {{item.category}}
                </a>
                <div class="card-text text-muted mb-2">
                  Price: {{item.price}}
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>

      <div class="col-xl-8 col-lg-8 mb-4 py-5 border rounded">
        <h3 class="card-title mb-4">Checkout</h3>
        <!-- Checkout -->
        <form method="POST">
            {%csrf_token%}
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example1" class="form-control" name="firstname" value="{{request.user.firstname}}" required/>
                <label class="form-label" for="form6Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example2" class="form-control" name="lastname" value="{{request.user.lastname}}" required/>
                <label class="form-label" for="form6Example2">Last name</label>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="email" id="form6Example5" class="form-control" name="email" required/>
                <label class="form-label" for="form6Example5">Email</label>
              </div>
            </div>

            <div class="col">
              <div class="form-outline">
                <input type="number" id="form6Example6" class="form-control" name="mobile" required/>
                <label class="form-label" for="form6Example6">Phone</label>
              </div>
            </div>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <input type="text" id="form6Example4" class="form-control" name="address"  required/>
            <label class="form-label" for="form6Example4">Address</label>
          </div>

          <hr/>
          <div class="row border-bottom">
            <div class="col-sm-4 mb-3">
              <p class="mb-2"><strong>Choose a Payment Options</strong></p>
              <select class="form-select" name="payment">
                <option value="Cashondelivery">Cash on Delivery</option>
                <option value="Khalti">Khalti</option>
              </select>
            </div>
          </div>

          <!-- Submit button -->
          <div class="float-end mt-3">
            <a
              href=""
              class="btn btn-light border text-danger icon-hover-danger"
              >Cancel</a
            >
            <button class="btn btn-success shadow-0 border" type="submit">
              Continue
            </button>
          </div>
        </form>
    </div>
  </div>
</section>

{%endblock%}
