{% extends 'base/base.html'%}

{%block start%}
 <div class ="container" style="margin-top:2rem;">
    <div class="row">
        <div class ="col-md-6" style="border :0.1px solid #c2c2c2; border-radius:10px;">
            <h3 style="padding-top:1.5rem;">Profile</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {% include "base/alert.html" %}   <!-- for messages-->
            <div class="form-group">
                <div class="form-group">
                  <label> <h5>First Name</h5></label>
                   <input name="fname" value = "{{request.user.first_name | title}}" class="form-control" type="text" required>
                  </div> <!-- form-group// -->

                  <div class="form-group">
                  <label> <h5>Last Name</h5></label>
                   <input name="lname" value = "{{request.user.last_name | title}}" class="form-control" type="text" required>
                  </div> <!-- form-group// -->

                  <div class="form-group">
                      <label> <h5>Email </h5></label>
                      <input name="email" value = "{{request.user.email}}" class="form-control" placeholder="Mobile Number" type="text" required>
                    </div> <!-- form-group// -->

                <div class="form-group">
                  <label> <h5>Mobile Number</h5></label>
                  <input name="mobile" value = "{{request.user.profile.mobile}}" class="form-control" placeholder="Mobile Number" type="text" required>
                </div> <!-- form-group// -->

                <div class="form-group">
                  <label> <h5>Address</h5></label>
                  <input name="address" value = "{{request.user.profile.address}}" class="form-control" placeholder="Shipping Address" type="text" required>
                </div> <!-- form-group// -->
                <hr>
                <div class="form-group">
                    <a class = "btn btn-secondary" href="{% url 'home' %}">Back</a>
                    <button type="submit" class="btn btn-primary float-right">Save  </button>
                </div> <!-- form-group// -->    
            </form> 
        </div>
        
    </div>
  
    
        
    
 </div>


 <div class="container" style="margin-top:2rem">

    
    
    <div class="row">
        <div class="col-md-6">
            <h3>Previous Orders</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Ordered By</th>
                        <th>Shipping Address</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Total</th>
                        <th>Ordered on</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {%for order in orders%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{order.ordered_by}}</td>
                        <td>{{order.shipping_address}}</td>
                        <td>{{order.mobile}}</td>
                        <td>{{order.cart.user.email}}</td>
                        <td>Rs {{order.total}}</td>
                        <td>{{order.created_at | timesince}} ago</td>
                        <td>{{order.order_status}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
           
            
            </div>   
    </div>
    </div>

{%endblock%}