{% extends 'adminpages/navbar.html' %}

{% block start %}
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center mb-3">All Orders</h2>
      {% if pending_orders %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Ordered By</th>
              <th>Shipping Address</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Total</th>
              <th>Ordered on</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for order in all_orders %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ order.ordered_by }}</td>
              <td>{{ order.shipping_address }}</td>
              <td>{{ order.mobile }}</td>
              <td>{{ order.email }}</td>
              <td>Rs {{ order.total }}</td>
              <td>{{ order.created_at|timesince }} ago</td>
              <td>{{ order.order_status }}</td>
              <td>
                <a href="{% url 'order_details' order.uid %}" class="btn btn-primary">View</a>
                <a href="{% url 'edit_order_details' order.uid %}" class="btn btn-success">Edit</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="9" class="text-center">No orders found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="alert alert-info text-center" role="alert">
        <strong>No orders are registered</strong>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
