{% extends 'base/base.html' %}

{% block start %}
  <div class="container">
    <h1 class="text-center" style="margin-top:2rem;">Edit Product</h1>
    <form method="post" enctype="multipart/form-data" class="text-center">
      {% csrf_token %}
      <div class="form-group text-left">
        {{ form.product_name.label_tag }}
        {{ form.product_name }}
      </div>
      <div class="form-group text-left">
        {{ form.category.label_tag }}
        {{ form.category }}
      </div>
      <div class="form-group text-left">
        {{ form.price.label_tag }}
        {{ form.price }}
      </div>
      <div class="form-group text-left">
        {{ form.product_description.label_tag }}
        {{ form.product_description }}
      </div>
      <div class="form-group text-left">
        {{ form.product_images.label_tag }}
        {{ form.product_images }}
      </div>
      {% if product_images %}
        <div class="row">
          {% for image in product_images %}
            <div class="col-md-4">
              <img src="/media/{{image.image.url }}"  class="img-thumbnail">
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="text-left">
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <a href="{% url 'my_product' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
