{%extends 'base/base.html'%}

{%block start%}




<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3>Our Products</h3>
    </header>

    <div class="row">
      {%for product in products%}
      {%if not product.is_sold%}
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="{{product.product_image.first.image.url}}" class="card-img-top" style="aspect-ratio: 1 / 1" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Rs {{product.price}}</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="{%url 'get_product' product.slug%}" class="btn btn-outline-dark shadow-0 me-1">View Item</a>
              {%if request.user.is_authenticated%}
              <a href="" class="btn btn-light border px-2 pt-2 icon-hover"><i class="fas fa-heart fa-lg text-secondary px-1"></i></a>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      {%endif%}
      {%endfor%}
    </div>
    <div class="row" style="margin-top:1rem;">
      
      <nav aria-label="...">
        <ul class="pagination">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'home' %}?page={{ products.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}
    
            {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ num }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'home' %}?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
    
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'home' %}?page={{ products.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    
      
    
    </div>
  </div>
  
</section>

{%endblock%}