{%extends 'base/base.html'%}

{%block start%}


<style>
  .card-img-top:hover{
    
    
  }
</style>

<section>
  <div class="container my-5">
    {%if products%}
    <header class="mb-4">
      <h3>Your Products</h3>
      {%include 'base/alert.html' %}
    </header>
    <a href="{%url 'create_product'%}" class="btn btn-dark"><i class="fas fa-plus fa-lg text-secondary px-1"></i>&nbsp;Add Products</a>
    <hr/>
    <div class="row">
      {%for product in products%}
      
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
        <div class="card w-100 my-2 shadow-2-strong">
          <img src="{{product.product_image.last.image.url}}" class="card-img-top" style="aspect-ratio: 1 / 1" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{product.product_name}}</h5>
            <p class="card-text">Rs {{product.price}}</p>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">

              {%if not product.is_sold%}
              <a href="{%url 'edit_product' product.slug%}" class="btn btn btn-outline-secondary shadow-0 me-1">Edit </a>
              
              <a href="{%url 'delete_product' product.uid%}" class="btn btn-outline-danger shadow-0 me-1">Delete  </a>
              {%else%}
              <a href="" class="btn btn-success shadow-0 me-1">Sold Out</a>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    
      {%endfor%}
    </div>
    <div class="row" style="margin-top:1rem;">
      
      <nav aria-label="...">
        <ul class="pagination">
            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'my_product' %}?page={{ products.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}
    
            {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ num }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'my_product' %}?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
    
            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'my_product' %}?page={{ products.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    
      
    
    </div>

    {%else%}
    <a href="{%url 'create_product'%}" class="btn btn-dark"><i class="fas fa-plus fa-lg text-secondary px-1"></i>&nbsp;Add Products</a>
    <hr/>
    <h1 style="margin-bottom:11em">You haven't listed any product for sale</h1>
    
    {%endif%}
  </div>
  
</section>

{%endblock%}