{% extends 'base/base.html' %}

{% block start %}
{%if products.count > 0%}
<div class="container" style="margin-top:2rem">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <ul class="list-group">
        
        {% for product in products %}
        <li class="list-group-item" style="margin-bottom:1rem">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0 mr-3">
              <img src="/media/{{product.product_image.first.image}}" class="img-fluid rounded-circle img-thumbnail" alt="{{ product.product_name }}" width="150" height="150">
            </div>
            <div class="flex-grow-1">
              <div class="d-flex justify-content-between">
                <h5 class="mb-1">{{ product.product_name }}</h5>
                <div class="btn-group" role="group">
                  {% comment %} <a href="{% url 'edit_product' product.slug %}" class="btn btn-primary">Edit</a> {% endcomment %}
                </div>
              </div>
              
              <p class="card-text"><small class="fw-bold">Category: {{ product.category }}</small></p>
              <p class="card-text"><small class="text-muted fw-bold">Price: {{ product.price }}</small></p>
              <a class = "btn btn-primary" href = "{% url 'edit_product' product.slug %}">Edit</a> 
              <a class = "btn btn-secondary" href = "{% url 'delete_product' product.uid %}">Delete</a> 
            </div>
          </div>
        </li>
        
        
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{%else%}
<div class="container border border-light" style="margin-top:2rem; padding:2rem 0">
<h1 class="text-center">You have not listed any items for sell</h1>
<div class="text-center">
<a class="btn btn-primary" href = "{%url 'create_product'%}">Add Product</a>
</div>
<div>
{%endif%}
{% endblock %}
